div(ng-controller="EditOperationController")
   ol.breadcrumb
      li
         a(href="/casha") Главная
      li.active Редактировать

   div.panel.panel-default.hidden-xs.hidden-sm
      div.panel-body
         form.form-horizontal(role="form" name="operationForm" class="css-from" novalidate)
            div(ng-class="getPrefillingValidateClass(operationForm, 'cost')")
               label.control-label.col-md-2 Стоймость*
               div.col-md-8
                  div.input-group
                     input.form-control(ng-model="editable.cost", name="cost", required, float-validate)
                     span.input-group-addon .00                  
            div(ng-class="getPrefillingValidateClass(operationForm, 'date')")
               label.control-label.col-md-2 Дата*
               div.col-md-8
                  input.form-control(type="date", ng-model="editable.date", name="date", required, formatDate)
            div.form-group
               label.control-label.col-md-2 Описание
               div.col-md-8
                  input.form-control(ng-model="editable.description" typeahead="description for description in descriptions | filter:$viewValue | limitTo:8", name="description", ng-maxlength="40")
            div.form-group(ng-class="{'true':'hidden', 'false':''}[isTransfer()]")
               label.control-label.col-md-2 Метка
               div.col-md-8
                  div(name="label", multi-select, input-model="labels", item-label="name", button-label="name", tick-property="ticked", default-label="Выбери метку...", orientation="horizontal")
            alert.col-md-8.col-md-offset-2(ng-repeat="error in errors" type="danger" close="closeErrorAlert($index)") {{error.message}}
      div.panel-footer
         div.row
            div.col-md-2
               button.btn.btn-default.btn-block(ng-click="edit(operationForm)", ng-class="{'btn-success': operationForm.$valid, 'disabled': operationForm.$invalid}") Сохранить
            div.col-md-2
               button.btn.btn-danger.btn-block(ng-click="openDeleteOperation()") Удалить

   form.visible-xs.visible-sm(role="form" name="operationFormSm" class="css-from" novalidate)
      div.input-group(ng-class="getPrefillingValidateClass(operationFormSm, 'cost')")
         input.form-control(placeholder="Стоймость", name="cost", ng-model="editable.cost", required, float-validate)
         span.input-group-addon .00
      div(ng-class="getPrefillingValidateClass(operationFormSm, 'date')")
         input.form-control(type="date", ng-model="editable.date", name="date", required)
      div(ng-class="getPrefillingValidateClass(operationFormSm, 'description')")
         input.form-control(placeholder="Описание", ng-model="editable.description" typeahead="description for description in descriptions | filter:$viewValue | limitTo:8", name="description", ng-maxlength="40", required)
      div.form-group(ng-class="{'true':'hidden', 'false':''}[isTransfer()]")
         div(name="label", ng-model="editable.label", multi-select, input-model="labels", item-label="name", button-label="name", tick-property="ticked", selection-mode="single", 
            default-label="Выбери метку...", orientation="horizontal", on-item-click="setLabel(data)")         
      alert.col-md-8.col-md-offset-2(ng-repeat="error in errors" type="danger" close="closeErrorAlert($index)") {{error.message}}
      div
         button.btn.btn-default.btn-block(ng-click="edit(operationForm)", ng-class="{'btn-success': operationForm.$valid, 'disabled': operationForm.$invalid}") Сохранить
         button.btn.btn-danger.btn-block(ng-click="openDeleteOperation()") Удалить

script(type="text/ng-template" id="deleteOperation")
   div.modal-body Подтверждение удаления операции
   div.modal-footer
      div.row
         div.col-xs-6
            button.btn.btn-default.btn-block(ng-click="confirm(false)") Передумал
         div.col-xs-6
            button.btn.btn-danger.btn-block(ng-click="confirm(true)") Подтверждаю
