tabset(justified="true")
    tab(heading="Соотношение доходов и расходов", ng-controller="IncomeExpenseChartController")
        br
        div.alert.alert-info(role="alert")
            p.text-center
                strong {{message}}
        form.row(role="form", name="incomeExpenseForm", class="css-from", novalidate)
            div.col-md-4.form-group
                div.input-group(ng-class="getValidateClass(incomeExpenseForm, 'startDate')")
                    span.input-group-addon Начало
                    input.form-control.input(type="date", ng-model="IncomeExpense.start", name="startDate", required)
            div.col-md-4.form-group
                div.input-group(ng-class="getValidateClass(incomeExpenseForm, 'endDate')")
                    span.input-group-addon Конец
                    input.form-control.input(type="date", ng-model="IncomeExpense.end", name="endDate", required)
            div.col-md-4.form-group
                div.btn.btn-default.btn-block(ng-click="refreshIncomeExpenseData()", ng-class="{'btn-success': incomeExpenseForm.$valid, 'disabled': incomeExpenseForm.$invalid}") Применить
        alert(ng-repeat="error in errors" type="danger" close="closeErrorAlert($index)")
            p.text-center
                strong {{error.message}}  
        canvas.chart.chart-doughnut(id="line", data="data", labels="labels", legend="true")
    //- tab(heading="Операции по метке", ng-controller="LabelAmountChartController")
    //-     br
    //-     div.alert.alert-info(role="alert")
    //-         p.text-center
    //-             strong {{message}}            
    //-     form.row(role="form", name="labelAmountForm", class="css-from", novalidate)
    //-         div.col-md-3.form-group(ng-class="getValidateClass(labelAmountForm, 'label')")
    //-             div(name="label", required, ng-model="LabelAmount.label", multi-select, input-model="labels", item-label="name",
    //-                 button-label="name", tick-property="ticked", selection-mode="single", default-label="Выбери метку...", orientation="horizontal", on-item-click="setLabel(data)")
    //-         div.col-md-3.form-group
    //-             div.input-group(ng-class="getValidateClass(labelAmountForm, 'startDate')")
    //-                 span.input-group-addon Начало
    //-                 input.form-control.input(type="date", ng-model="LabelAmount.start", name="startDate", required)
    //-         div.col-md-3.form-group
    //-             div.input-group(ng-class="getValidateClass(labelAmountForm, 'endDate')")
    //-                 span.input-group-addon Конец
    //-                 input.form-control.input(type="date", ng-model="LabelAmount.end", name="endDate", required)
    //-         div.col-md-3.form-group
    //-             div.btn.btn-default.btn-block(ng-click="refreshLabelAmount()", ng-class="{'btn-success': labelAmountForm.$valid, 'disabled': labelAmountForm.$invalid}") Применить
    //-     alert(ng-repeat="error in errors" type="danger" close="closeErrorAlert($index)")
    //-         p.text-center
    //-             strong {{error.message}}
    //-     canvas.chart.chart-line(data="data", labels="labels", legend="true", series="series")