tabset(justified="true")
    include account/account
    include label/label
    include category/category
    include description/description
script(type="text/ng-template" id="deleteDialog")
    div.modal-body Подтверждение удаления
    div.modal-footer
        div.row
            div.col-xs-6
                button.btn.btn-default.btn-block(ng-click="confirm(false)") Передумал
            div.col-xs-6
                button.btn.btn-danger.btn-block(ng-click="confirm(true)") Подтверждаю
script(type="text/ng-template" id="mergeDialog")
    div.modal-body Подтверждение слияния
    div.modal-footer
        div.row
            div.col-xs-6
                button.btn.btn-default.btn-block(ng-click="confirm(false)") Передумал
            div.col-xs-6
                button.btn.btn-primary.btn-block(ng-click="confirm(true)") Подтверждаю
