div(ng-controller="MainController")
    div.row
        div.col-md-4.form-group
            button.btn.btn-success.btn-block(ng-click="addOperation('income')") Добавить доход
        div.col-md-4.form-group
            button.btn.btn-danger.btn-block(ng-click="addOperation('expense')") Добавить расход
        div.col-md-4.form-group
            button.btn.btn-warning.btn-block(ng-click="addTransfer('transfer')") Совершить перевод
                                              
    accordion(close-others="false")
        accordion-group(is-open="status.open")
            accordion-heading
                div.row
                    div.col-xs-2.text-success
                        b Доход: {{income | number}}
                    div.col-xs-2.text-danger
                        b Расход: {{expense | number}}
                    div.col-xs-2
                        b Разница: {{difference | number}}
                    div.col-md-2            
                        b Баланс: {{balance | number}}
                    div.col-md-4    
                        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
            div.row
                div.col-md-12
                    ul.list-group
                        li.list-group-item(ng-repeat="account in accounts")
                            span.badge {{account.balance | number}}     
                            span {{account.name}}       
    ul.list-group.visible-xs
        li.list-group-item(ng-repeat="operation in operations"
            ng-class="{'income':'text-success', 'transfer':'text-warning'}[operation.operationType]")
                div.row
                    div.col-xs-2
                        b {{operation.date | date: 'dd.MM'}}
                    div.col-xs-2
                        b {{operation.cost | number}}
                    div.col-xs-6
                        b {{operation.account.name}}
                    div.col-xs-2
                        button.btn.btn-default.btn-sm(ng-click="editOperation(operation)")
                            span.glyphicon.glyphicon-pencil
                div.row
                    div.col-xs-12 {{operation.description}}
                div.row
                    div.col-xs-12 {{operation.label.name}}
    div.hidden-xs
        table.table.table-condensed.table-hover(ng-table="operationsTable")
            tr
                td
                    b Тип
                td
                    b Дата
                td
                    b Стоимость
                td
                    b Описание
                td
                    b Метки
                td   
            tbody(ng-repeat="group in $groups")
                tr.ng-table-group
                    td(colspan="{{$columns.length}}")
                        b {{group.value}}
                tr(ng-hide="group.$hideRows" ng-repeat="operation in group.data")
                    td.text-warning(ng-if="operation.operationType == 'transfer'")
                        span
                            b {{operation.from.name}}&nbsp
                        span.glyphicon.glyphicon-arrow-right
                        span
                            b &nbsp{{operation.to.name}}
                    td(ng-if="operation.operationType == 'income' || operation.operationType == 'expense'")
                        b(ng-class="{'text-success': operation.operationType == 'income', 'text-danger': operation.operationType == 'expense'}")
                            span.glyphicon.glyphicon-arrow-left(ng-class="{'glyphicon-arrow-right': operation.operationType == 'income'}")
                            span  {{operation.account.name}}
                    td {{operation.date | date: 'dd.MM.yyyy'}}
                    td {{operation.cost | number}}
                    td {{operation.description}}
                    td
                        div(ng-if="operation.labels.length > 0 && (operation.operationType == 'income' || operation.operationType == 'expense')")
                            span.label.label-default(style="margin-left: 2px", ng-repeat="label in operation.labels") {{label.name}}                       
                    td
                        button.btn.btn-default.btn-block.btn-sm(ng-click="editOperation(operation)")
                            span.glyphicon.glyphicon-pencil