div(ng-controller="BalanceHistoryController as balanceHistoryCtrl")
    table.table.table-condensed.table-hover(ng-table="balanceHistoryTable")
        tr
            td
                b Дата
            td
                b Счет
            td
                b Действие
            td
                b До
            td
                b После
            td 
                b Количество                
        tbody
            tr(ng-repeat="history in balanceHistoryCtrl.histories")
                td {{history.date | date: 'dd.MM.yyyy'}}
                td {{history.account.name}}
                td {{history.action | action}}
                td {{history.before | number}}
                td {{history.after | number}}
                td {{history.cost | number}}  