div(ng-controller="AddTransferController")
   ol.breadcrumb
      li
         a(href="/casha") Главная
      li.active Добавить перевод

   div.panel.panel-default.hidden-xs.hidden-sm
      div.panel-body
         form.form-horizontal(role="form" name="transferForm" class="css-from" novalidate)
            div(ng-class="getValidateClass(transferForm, 'accountFrom')")
               label.control-label.col-md-2 Откуда*
               div.col-md-8
                  label.radio-inline(ng-repeat="account in accounts")
                     input(type="radio", name="accountFrom", ng-model="TransferRequest.from", ng-value="account", required, tooltip="{{accounts[$index].balance}}", tooltip-trigger="focus", tooltip-placement="top")
                     div {{account.name}}
            div(ng-class="getValidateClass(transferForm, 'accountTo')")
               label.control-label.col-md-2 Куда*
               div.col-md-8
                  label.radio-inline(ng-repeat="account in accounts")
                     input(type="radio", name="accountTo", ng-model="TransferRequest.to", ng-value="account", required, tooltip="{{accounts[$index].balance}}", tooltip-trigger="focus", tooltip-placement="top")
                     div {{account.name}}
            div(ng-class="getValidateClass(transferForm, 'cost')")
               label.control-label.col-md-2 Стоймость*
               div.col-md-8
                  div.input-group
                     input.form-control(ng-model="TransferRequest.cost", name="cost", required, float-validate)
                     span.input-group-addon .00
            div(ng-class="getValidateClass(transferForm, 'date')")
               label.control-label.col-md-2 Дата*
               div.col-md-6
                  input.form-control(type="date", ng-model="TransferRequest.date", name="date", required)
               div.col-md-2
                  button.btn.btn-default.btn-block(ng-click="setToday()") Сегодня          
            div.form-group
               label.control-label.col-md-2 Описание
               div.col-md-8
                  input.form-control(ng-model="TransferRequest.description", typeahead="description for description in descriptions | filter:$viewValue | limitTo:8", name="description")
            alert.col-md-8.col-md-offset-2(ng-repeat="error in errors" type="danger" close="closeErrorAlert($index)") {{error.message}}
      div.panel-footer
         div.row
            div.col-md-2
               button.btn.btn-default.btn-block(ng-click="transfer(transferForm)", ng-class="{'btn-success': transferForm.$valid, 'disabled': transferForm.$invalid}") Сохранить

   form.visible-xs.visible-sm(role="form" name="transferFormSm" class="css-from" novalidate)
      div.panel.panel-default(ng-class="getValidateClass(transferFormSm, 'accountFrom')")
         div.panel-body
            p.bottom-left Откуда
            label.radio-inline(ng-repeat="account in accounts")
               input(type="radio", name="accountFrom", ng-model="TransferRequest.from", ng-value="account", required)
               div {{account.name}}
      div.panel.panel-default(ng-class="getValidateClass(transferFormSm, 'accountTo')")
         div.panel-body
            p.bottom-left Куда
            label.radio-inline(ng-repeat="account in accounts")
               input(type="radio", name="accountTo", ng-model="TransferRequest.to", ng-value="account", required)
               div {{account.name}}
      div.input-group(ng-class="getValidateClass(transferFormSm, 'amount')")
         input.form-control(placeholder="Стоймость", ng-model="TransferRequest.amount", name="amount", required, float-validate)
         span.input-group-addon .00
      div.row(ng-class="getValidateClass(transferFormSm, 'date')")
         div.col-xs-8
            input.form-control(type="date", ng-model="TransferRequest.date", name="date" required)
         div.col-xs-4
            button.btn.btn-default.btn-block(ng-click="setToday()") Сегодня           
      div(ng-class="getValidateClass(transferFormSm, 'description')")
         input.form-control(placeholder="Описание", ng-model="TransferRequest.description", typeahead="description for description in descriptions | filter:$viewValue | limitTo:8", name="description", ng-maxlength="40", required)
      alert.col-md-8.col-md-offset-2(ng-repeat="error in errors" type="danger" close="closeErrorAlert($index)") {{error.message}}
      div
         button.btn.btn-default.btn-block(ng-click="transfer(transferForm)" ng-class="{'btn-success': transferForm.$valid, 'disabled': transferForm.$invalid}") Сохранить