html(ng-app="casha")
    head
        base(href="/")
        meta(http-equiv="Content-Language")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no")

        link(media="all", rel="stylesheet", type="text/css", href='stuff/libs.min.css')

        script(src="//localhost:35729/livereload.js")
        script(type="text/javascript", src="stuff/libs.min.js")
        script(type="text/javascript", src="stuff/script.js")

        title Casha
    body
        div.container
            nav.navbar.navbar-default(role="navigation" ng-controller="HeaderController as headerCtrl")
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="/casha") € ₳ $ ₩ ₳
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li(ng-class="{ active: headerCtrl.isActive('/casha') }")
                                a(href="/casha") Главная
                            li(ng-class="{ active: headerCtrl.isActive('/casha/balanceHistory')}")
                                a(href="/casha/balanceHistory") История                                   
                            li(ng-class="{ active: headerCtrl.isActive('/casha/statistic')}")
                                a(href="/casha/statistic") Статистика                                         
                        ul.nav.navbar-nav.navbar-right
                            li(ng-class="{ active: headerCtrl.isActive('/casha/settings')}")
                                a.glyphicon.glyphicon-cog(href="/casha/settings")
            div.view-frame(ng-view)