tab(heading="Счета", ng-controller="AccountController")
   br
   div.row
      div.col-md-12
         ul.list-group
            li.list-group-item
               div.row
                  div.col-xs-4
                     b Имя
                  div.col-xs-4
                     b Баланс
                  div.col-xs-4
                     button.btn.btn-default.btn-block(ng-click="toggleShowAccountFormFlag()" ng-class="{'true' : 'active', 'false' : ''}[showAccountForm]")
                        span.glyphicon.glyphicon-plus
            li.list-group-item.list-group-item-warning(ng-class="{'false' : 'hide', 'true' : ''}[showAccountForm]")
               div.row
                  form.form-inline(role="form" name="addAccountForm" class="css-from" novalidate)
                     div.col-md-4(ng-class="getValidateClass(addAccountForm, 'name')")
                        input.form-control(type="text", ng-model="AccountRequest.name", name="name", placeholder="Имя", required, ng-maxlength="40")
                     div.col-md-4(ng-class="getValidateClass(addAccountForm, 'balance')")
                        input.form-control(type="text", ng-model="AccountRequest.balance", name="balance", placeholder="Баланс", required, float-validate)
                     div.col-md-4.form-group
                        button.btn.btn-default.btn-block(ng-click="saveAccount(addAccountForm)", ng-class="{'btn-success': addAccountForm.$valid, 'disabled': addAccountForm.$invalid}") Сохранить
            li.list-group-item(ng-repeat="account in accounts", ng-class="{'false' : '', 'true' : 'list-group-item-info'}[isEdit(account)]")
               div.row(ng-class="{'true' : 'hide', 'false' : ''}[isEdit(account)]")
                  div.col-xs-4 {{account.name}}
                  div.col-xs-4 {{account.balance | number}}
                  div.col-xs-4
                     button.btn.btn-default.btn-block(ng-click="prepareToEdit(account)")
                        span.glyphicon.glyphicon-pencil
               div.row(ng-class="{'false' : 'hide', 'true' : ''}[isEdit(account)]")
                  form.form-inline(role="form" name="accountForm" class="css-from" novalidate)
                     div.col-md-4(ng-class="getPrefillingValidateClass(accountForm, 'name')")
                        input.form-control(type="text", ng-model="account.name", name="name", required, ng-maxlength="40")
                     div.col-md-4(ng-class="getPrefillingValidateClass(accountForm, 'balance')")
                        input.form-control(type="text", ng-model="account.balance", name="balance", required, float-validate)
                     div.col-md-4.form-group
                        div.btn-group.btn-group-justified(role="group")
                           div.btn-group
                              button.btn.btn-primary(ng-click="edit(account, accountForm)", ng-class="{'btn-success': accountForm.$valid, 'disabled': accountForm.$invalid}")
                                 span.glyphicon.glyphicon-ok
                           div.btn-group
                              button.btn.btn-danger(ng-click="openDeleteAccount(account)")
                                 span.glyphicon.glyphicon-remove
         alert(ng-repeat="error in errors" type="danger" close="closeErrorAlert($index)") {{error.message}}

