tab(heading="Категории", ng-controller="CategoryController")
   br
   div.row
      div.col-md-12
         ui.list-group
            li.list-group-item
               div.row
                  div.col-xs-4
                     b Имя
                  div.col-xs-4
                     b Тип
                  div.col-xs-4
                     button.btn.btn-default.btn-block(ng-click="toggleShowCategoryFormFlag()" ng-class="{'true' : 'active', 'false' : ''}[showCategoryForm]")
                        span.glyphicon.glyphicon-plus
            li.list-group-item.list-group-item-warning(ng-class="{'false' : 'hide', 'true' : ''}[showCategoryForm]")
               div.row
                  form.form-inline(role="form" name="addCategoryForm" class="css-from" novalidate)
                     div.col-md-4(ng-class="getValidateClass(addCategoryForm, 'name')")
                        input.form-control(type="text", ng-model="CategoryRequest.name", name="name", placeholder="Имя", required, ng-maxlength="40")
                     div.col-md-4(ng-class="getValidateClass(addCategoryForm, 'operationType')")
                        label.radio-inline(ng-repeat="operationType in operationTypes")
                           input(type="radio", name="operationType", ng-model="CategoryRequest.operationType", ng-value="operationType.requestName", required)
                           div {{operationType.name}}
                     div.col-md-4.form-group
                        button.btn.btn-default.btn-block(ng-click="saveCategory(addCategoryForm)", ng-class="{'btn-success': addCategoryForm.$valid, 'disabled': addCategoryForm.$invalid}") Сохранить
            li.list-group-item(ng-repeat="category in categories", ng-class="{'false' : '', 'true' : 'list-group-item-info'}[isEdit(category)]")
               div.row(ng-class="{'true' : 'hide', 'false' : ''}[isEdit(category)]")
                  div.col-xs-4 {{category.name}}
                  div.col-xs-4 {{category.operationType | operationType}}
                  div.col-xs-4
                     button.btn.btn-default.btn-block(ng-click="prepareToEdit(category)")
                        span.glyphicon.glyphicon-pencil
               div.row(ng-class="{'false' : 'hide', 'true' : ''}[isEdit(category)]")
                  form.form-inline(role="form" name="categoryForm" class="css-from" novalidate)
                     div.col-md-4(ng-class="getPrefillingValidateClass(categoryForm, 'name')")
                        input.form-control(type="text", ng-model="category.name", name="name", required, ng-maxlength="40")
                     div.col-md-4(ng-class="getPrefillingValidateClass(categoryForm, 'operationType')")
                        label.radio-inline(ng-repeat="operationType in operationTypes")
                           input(type="radio", name="operationType", ng-model="category.operationType", ng-value="operationType.requestName", required)
                           div {{operationType.name}}
                     div.col-md-4.form-group
                        div.btn-group.btn-group-justified(role="group")
                           div.btn-group
                              button.btn.btn-primary(ng-click="edit(category, categoryForm)", ng-class="{'btn-success': labelForm.$valid, 'disabled': labelForm.$invalid}")
                                 span.glyphicon.glyphicon-ok
                           div.btn-group
                              button.btn.btn-danger(ng-click="openDeleteCategory(category)")
                                 span.glyphicon.glyphicon-remove
