tab(heading="Метки", ng-controller="LabelController")
   br
   div.row
      div.col-md-12
         ui.list-group
            li.list-group-item
               div.row
                  div.col-xs-3
                     b Имя
                  div.col-xs-2
                     b Тип
                  div.col-xs-5
                     b Категория
                  div.col-xs-2
                     button.btn.btn-default.btn-block(ng-click="toggleShowLabelFormFlag()" ng-class="{'true' : 'active', 'false' : ''}[showLabelForm]")
                        span.glyphicon.glyphicon-plus
            //add
            li.list-group-item.list-group-item-warning(ng-class="{'false' : 'hide', 'true' : ''}[showLabelForm]")
               div.row
                  form.form-inline(role="form" name="addLabelForm" class="css-from" novalidate)
                     div.col-md-3(ng-class="getValidateClass(addLabelForm, 'name')")
                        input.form-control(type="text", ng-model="LabelRequest.name", name="name", placeholder="Имя", required, ng-maxlength="40")
                     div.col-md-2(ng-class="getValidateClass(addLabelForm, 'operationType')")
                        label.radio-inline(ng-repeat="operationType in operationTypes")
                           input(type="radio", name="operationType", ng-model="LabelRequest.operationType", ng-value="operationType.requestName", required)
                           div {{operationType.name}}
                     div.col-md-5
                        div(name="label", multi-select, input-model="categories", item-label="name", button-label="name", tick-property="ticked", default-label="Выбери категорию...", orientation="horizontal")
                     div.col-md-2.form-group
                        button.btn.btn-default.btn-block(ng-click="saveLabel(addLabelForm)", ng-class="{'btn-success': addLabelForm.$valid, 'disabled': addLabelForm.$invalid}") Сохранить
            //merge
            li.list-group-item.list-group-item-warning(ng-class="{'false' : 'hide', 'true' : ''}[showMergeForm]")
               div.row
                  form.form-inline(role="form" name="mergeLabelForm" class="css-from" novalidate)
                     div.col-md-3(ng-class="getValidateClass(mergeLabelForm, 'newLabelName')")
                        input.form-control(type="text", ng-model="LabelMergeRequest.newLabelName", name="newLabelName", placeholder="Имя новой метки", required, ng-maxlength="40")
                     div.col-md-6.form-group
                        h4
                           span(ng-repeat="mergeLabel in LabelMergeRequest.mergedLabels")
                              span.label.label-primary {{mergeLabel.name}}
                     div.col-md-3.form-group
                        div.btn-group.btn-group-justified(role="group")
                           div.btn-group
                              button.btn.btn-default(ng-class="{'btn-success': mergeLabelForm.$valid, 'disabled': mergeLabelForm.$invalid}", ng-click='openMergeLabel(mergeLabelForm)') Слить
                           div.btn-group
                              button.btn.btn-danger(ng-click="cancelMerging()") Отменить все
            //view
            li.list-group-item(ng-repeat="label in labels", ng-class="{'false' : '', 'true' : 'list-group-item-info'}[isEdit(label)]")
               div.row(ng-class="{'true' : 'hide', 'false' : ''}[isEdit(label)]")
                  div.col-xs-3 {{label.name}}
                  div.col-xs-2 {{label.operationType | operationType}}
                  div.col-xs-5
                     span.label.label-default(style="margin-left: 2px", ng-repeat="category in label.categories") {{category.name}}
                  div.col-xs-2
                     button.btn.btn-default.btn-block(ng-click="prepareToEdit(label)")
                        span.glyphicon.glyphicon-pencil
               //edit
               div.row(ng-class="{'false' : 'hide', 'true' : ''}[isEdit(label)]")
                  form.form-inline(role="form" name="labelForm" class="css-from" novalidate)
                     div.col-md-3(ng-class="getPrefillingValidateClass(labelForm, 'name')")
                        input.form-control(type="text", ng-model="label.name", name="name", required, ng-maxlength="40")
                     div.col-md-2(ng-class="getPrefillingValidateClass(labelForm, 'operationType')")
                        label.radio-inline(ng-repeat="operationType in operationTypes")
                           input(type="radio", name="operationType", ng-model="label.operationType", ng-value="operationType.requestName", required)
                           div {{operationType.name}}
                     div.col-md-5
                        div(name="label", multi-select, input-model="categories", item-label="name", button-label="name", tick-property="ticked", default-label="Выбери категорию...", orientation="horizontal")
                     //- div.col-md-3.form-group
                     //-     label.checkbox-inline
                     //-         input(type="checkbox", name="test", ng-click="toggleShowMergeFormFlag(label)")
                     //-         div Сливаемая
                     div.col-md-2.form-group
                        div.btn-group.btn-group-justified(role="group")
                           div.btn-group
                              button.btn.btn-primary(ng-click="edit(label, labelForm)", ng-class="{'btn-success': labelForm.$valid, 'disabled': labelForm.$invalid}")
                                 span.glyphicon.glyphicon-ok
                           div.btn-group
                              button.btn.btn-danger(ng-click="openDeleteLabel(label)")
                                 span.glyphicon.glyphicon-remove
         alert(ng-repeat="error in errors" type="danger" close="closeErrorAlert($index)") {{error.message}}
