//- tab(heading="Описания операций", ng-controller="DescriptionController")
//-     br
//-     div.row
//-         div.col-md-12
//-             ui.list-group
//-                 li.list-group-item
//-                     div.row
//-                         div.col-xs-9
//-                             b Имя
//-                 li.list-group-item(ng-class="{'false' : 'hide', 'true' : ''}[showMergeForm]")
//-                     div.row
//-                         form.form-inline(role="form" name="mergeDescriptionForm" class="css-from" novalidate)
//-                             div.col-md-3(ng-class="getValidateClass(mergeLabelForm, 'newLabelName')")
//-                                 input.form-control(type="text", ng-model="DescriptionMergeRequest.newDescriptionName", name="newDescriptionName", placeholder="Имя нового описания", required, ng-maxlength="40")
//-                             div.col-md-6.form-group
//-                                 h4
//-                                     span(ng-repeat="mergeDescription in DescriptionMergeRequest.descriptions")
//-                                         span.label.label-primary {{mergeDescription.name}}
//-                             div.col-md-3.form-group
//-                                 div.btn-group.btn-group-justified(role="group")
//-                                     div.btn-group
//-                                         button.btn.btn-default(ng-class="{'btn-success': mergeDescriptionForm.$valid, 'disabled': mergeDescriptionForm.$invalid}", ng-click='openMergeDescription(mergeDescriptionForm)') Слить
//-                                     div.btn-group
//-                                         button.btn.btn-danger(ng-click="cancelMerging()") Отменить все
//-                 li.list-group-item(ng-repeat="description in descriptions", ng-class="{'income' : 'list-group-item-success', 'expense' : 'list-group-item-danger', 'transferFrom' : 'list-group-item-warning'}[description.operationType]")
//-                     div.row(ng-class="{'true' : 'hide', 'false' : ''}[isEdit(description)]")
//-                         div.col-xs-9 {{description.name}}
//-                         div.col-xs-3
//-                             label.checkbox-inline
//-                                 input(type="checkbox", name="test", ng-click="toggleShowMergeFormFlag(description)")
//-                                 div Сливаемое
//-             alert(ng-repeat="error in errors" type="danger" close="closeErrorAlert($index)") {{error.message}}
