div(ng-controller="AddOperationController")
   ol.breadcrumb
      li
         a(href="/casha") Главная
      li.active Добавить {{title}}

   div.panel.panel-default.hidden-xs.hidden-sm
      div.panel-body
         form.form-horizontal(role="form" name="operationForm" class="css-from" novalidate)
            div(ng-class="getValidateClass(operationForm, 'cost')")
               label.control-label.col-md-2 Стоймость*
               div.col-md-8
                  div.input-group
                     input.form-control(ng-model="OperationRequest.cost", name="cost", required, float-validate)
                     span.input-group-addon .00
            div(ng-class="getValidateClass(operationForm, 'account')")
               label.control-label.col-md-2 Счет*
               div.col-md-8
                  label.radio-inline(ng-repeat="account in accounts")
                     input(type="radio", name="account", ng-model="OperationRequest.account", ng-value="account", required, tooltip="{{accounts[$index].balance}}", tooltip-trigger="focus", tooltip-placement="top")
                     div {{account.name}}
            div(ng-class="getValidateClass(operationForm, 'date')")
               label.control-label.col-md-2 Дата*
               div.col-md-6
                  input.form-control(type="date", ng-model="OperationRequest.date", name="date", required)
               div.col-md-2
                  button.btn.btn-default.btn-block(ng-click="setToday()") Сегодня      
            div.form-group
               label.control-label.col-md-2 Метки
               div.col-md-8
                  div(name="label", multi-select, input-model="labels", item-label="name", button-label="name", tick-property="ticked", default-label="Выбери метки...", orientation="horizontal")            
            div.form-group
               label.control-label.col-md-2 Описание
               div.col-md-8
                  input.form-control(ng-model="OperationRequest.description" typeahead="description for description in descriptions | filter:$viewValue | limitTo:8", name="description")
            alert.col-md-8.col-md-offset-2(ng-repeat="error in errors" type="danger" close="closeErrorAlert($index)") {{error.message}}
      div.panel-footer
         div.row
            div.col-md-2
               button.btn.btn-default.btn-block(ng-click="save(operationForm)", ng-class="{'btn-success': operationForm.$valid, 'disabled': operationForm.$invalid}") Сохранить

   form.visible-xs.visible-sm(role="form" name="operationFormSm" class="css-from" novalidate)
      div.input-group(ng-class="getValidateClass(operationFormSm, 'cost')")
         input.form-control(placeholder="Стоймость", name="cost", ng-model="OperationRequest.cost", required, float-validate)
         span.input-group-addon .00
      div(ng-class="getValidateClass(operationFormSm, 'label')")
         div(name="label", ng-model="OperationRequest.label", multi-select, input-model="labels", item-label="name", button-label="name", tick-property="ticked", default-label="Выбери метки...", orientation="horizontal")
      div.panel.panel-default(ng-class="getValidateClass(operationFormSm, 'account')")
         div.panel-body
            label.radio-inline(ng-repeat="account in accounts")
               input(type="radio", name="account", ng-model="OperationRequest.account", ng-value="account", required)
               div {{account.name}}
      div.row(ng-class="getValidateClass(operationFormSm, 'date')")
         div.col-xs-8   
            input.form-control(type="date", ng-model="OperationRequest.date", name="date", required)
         div.col-xs-4
            button.btn.btn-default.btn-block(ng-click="setToday()") Сегодня       
      div(ng-class="getValidateClass(operationFormSm, 'description')")
         input.form-control(placeholder="Описание", ng-model="OperationRequest.description" typeahead="description for description in descriptions | filter:$viewValue | limitTo:8", name="description", ng-maxlength="40", required)
      alert.col-md-8.col-md-offset-2(ng-repeat="error in errors" type="danger" close="closeErrorAlert($index)") {{error.message}}
      div
         button.btn.btn-default.btn-block(ng-click="save(operationFormSm)", ng-class="{'btn-success': operationForm.$valid, 'disabled': operationForm.$invalid}") Сохранить